---
BasedOnStyle: Microsoft
IndentWidth: 4
---
Language: Cpp
FixNamespaceComments: true
NamespaceIndentation: All
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
